---
import Layout from "@/layouts/Layout.astro";
import { UpdatePasswordForm } from "@/components/auth/UpdatePasswordForm";
---

<Layout title="Aktualizacja hasła">
  <div class="flex items-center justify-center min-h-screen">
    <UpdatePasswordForm client:load />
  </div>
</Layout>
